@font-face {
    font-family: font1;
    src: url(/Poppins-Medium.woff);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    color: #575556;
    background: linear-gradient(-140deg, #6FC3F7, #C2FDFF);
    font-family: font1;
}

.card {
    display: flex;
    align-items: center;
    width: 75vw;
    max-width: 650px;
    padding: 50px 30px 50px 20px;
    background: #ffffff;
    border-radius: 24px;
}

.card img {
    max-width: 200px;
    width: 32vh;
    height: 270px;
    object-fit: cover;
    margin-left: -60px;
    margin-right: 40px;
    border-radius: inherit;
}

/* h2, h3 {
    font-weight: -400;
} */

h3,
label {
    opacity: 0.5;
}

.card h2 {
    font-size: 28px;
    margin: 0;
}

.card h3 {
    font-size: 16px;
    margin: 0 0 20px;
}

.card .buttons {
    display: inline-flex;
    gap: 10px;
}

.card button {
    border: 1px solid #a7a7a7;
    background: transparent;
    font-family: inherit;
    padding: 16px 20px;
    font-size: 18px;
    border-radius: 6px;
    min-width: 120px;
}

.card button.primary {
    background: #bbdbff;
    color: #000000;
    border: 0;
}

.card .stats {
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
    list-style: none;
    margin: 0 0 24px;
    padding: 0;
}

.card .stats var {
    display: block;
    font-style: normal;
    font-size: 26px;
}

/* RESPONSIVE */
@media (width <= 720px)  {
    .card{
        margin: 0 40px;
        padding-left: 50px;
        padding-right: 50px;
        width: 100%;
        text-align: center;
        flex-direction: column;
    }

    .card img {
        margin: -100px 0 30px 0;
        width: 100%;
        max-width: 1000px;
    }

    .card h2{
        font-size: 30px;
    }

    .card .stats var{
        min-width: 90px;
    }

    .card buttons{
        min-width:160px;
    }
}
